/* Global */

html
{
}

body
{

}

#page
{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-color: #eee

}

#header
{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background: white;
/*    border: solid 1px black;*/
    box-shadow: 0px 0px 5px 1px grey; 
}

#header img
{
    position: relative;
    left: 0%;
    top: 0%;
}

#header #main-title
{
    display:inline;
    font: 500 4em museo,serif;
    color: black;
    text-align: center;
    margin-left: 10%;
}

#marches
{
    background: #eee;
    margin: 5px;
    padding: 10px;
}

.titre
{
    background: #ccc;
    color: #404040;
    clear: both;
}

#marches ul li
{
    margin: 2px 2px 0;
    background: #ddd;
}

#menu
{
    clear: both;
}

#menu li
{
    display: block;
    float: left;
    margin: 10px 40px;
}

#menu li a
{
    color: #101010;
}

#menu li a:hover
{
    color: #d50;
}

.titre-marche
{
    background: #ccc;
    color: #404040;

    clear: both;
    margin: 5px;
    padding: 10px;
}

.pronostic a
{
    color: #101010;
}

.pronostic a:hover
{
    color: #d50;
}

.stocks
{
    margin: 10px;
}

.alert
{
    color: red;
}

/* market.jsp */

#asks
{
    background: #fbb;
    border-radius: 5px;
    border: solid 1px #f44;
    margin: 10px;

}

h1.asks
{
    background: #f88;
    border-radius: 5px;
    border: solid 3px #f44;
    margin-top: 0px;
}

#bids
{
    background: #bfb;
    border-radius: 5px;
    border: solid 1px #4f4;
    margin: 10px;
}

h1.bids
{
    background: #8f8;    
    border-radius: 5px;
    border: solid 3px #4f4;
    margin-top: 0px;
}

#buy-form
{
    padding: 5px;
    border: solid 1px  black;
}

.market-maker
{
    padding: 5px;
    margin: 10px;
    border: solid 2px  #00afe9;
}

table
{
    text-align: center;
    font: 100 1em sans;
}